.container {
  height: 95vh;
  display: flex;
  background: #f0f0f2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*dark theme*/
.container-dark {
  height: 95vh;
  display: flex;
  background: #212429;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  background: #f0f0f2;
  box-shadow: 5px 5px 10px #ccccce,
    -5px -5px 10px #ffffff;
  height: 560px;
  width: 360px;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
}

/*dark theme*/
.wrapper-dark {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  background: #212429;
  box-shadow: 5px 5px 10px #171a1d,
    -5px -5px 10px #2b2e35;
  height: 560px;
  width: 360px;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.toggle-button {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 2rem;
}

.label-dark {
  color: #fff;
  font-size: 1.1rem;
}

.label {
  color: #000;
  font-size: 1.1rem;
}

.display-wrapper {
  height: 20%;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  background: #f0f0f2;
  box-shadow: 5px 5px 10px #ccccce,
    -5px -5px 10px #ffffff;

}

.display-wrapper-dark {
  height: 20%;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background: #212429;
  box-shadow: 5px 5px 10px #171a1d,
    -5px -5px 10px #2b2e35;
}

.display {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 1.5rem;
  font-size: 3rem;
  color: #000;
  background: transparent;
}

/*dark theme*/
.display-dark {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 1.5rem;
  font-size: 3rem;
  color: #fff;
  background: transparent;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
}

.btn {
  cursor: pointer;
  display: flex;
  border-radius: 50px;
  background: #f0f0f2;
  box-shadow: 5px 5px 10px #ccccce,
    -5px -5px 10px #ffffff;
  color: #000;
  font-size: 2rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
}

/*dark theme*/
.btn-dark {
  cursor: pointer;
  display: flex;
  border-radius: 50px;
  background: #212429;
  box-shadow: 5px 5px 10px #171a1d,
    -5px -5px 10px #2b2e35;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
}

.btn:active {
  box-shadow: 20px 20px 60px #ccccce,
    -20px -20px 60px #ffffff;
}

/*dark theme*/
.btn-dark:active {
  box-shadow: none
}

.btn_operator {
  color: black;
  border-radius: 50px;
  background: #fe9d12;
  box-shadow: 5px 5px 3px #e58d10,
    -5px -5px -3px #ffad14;
}

/*dark theme*/
.btn_operator-dark {
  color: white;
  border-radius: 50px;
  background: #fe9d12;
  /* box-shadow: 5px 5px 3px #e58d10,
    -5px -5px -3px #ffad14; */
}


@media screen and (max-width:400px) {
  .wrapper {
    width: 90%;
  }

  .wrapper-dark {
    width: 90%;
  }

  .btn {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  .btn-dark {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}