.container {
  height: 100vh;
  display: flex;
  background: #f0f0f2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  background: #f0f0f2;
  box-shadow: 5px 5px 10px #ccccce,
    -5px -5px 10px #ffffff;
  height: 560px;
  width: 360px;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.heading {
  color: #000;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.display {
  height: 10%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 1.5rem;
  font-size: 3rem;
  color: #000;
  background: transparent;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
}

.btn {
  cursor: pointer;
  display: flex;
  border-radius: 50px;
  background: #f0f0f2;
  box-shadow: 5px 5px 10px #ccccce,
    -5px -5px 10px #ffffff;
  color: #000;
  font-size: 2rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-content: center;

}

.btn:active {
  box-shadow: 20px 20px 60px #ccccce,
    -20px -20px 60px #ffffff;
}

.btn_operator {
  color: black;
  background-color: #fe9d12;


}

.btn_operator:active {
  opacity: 0.5;
}

@media screen and (max-width:400px) {
  .wrapper {
    width: 90%;
  }
}